.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
        flex: 1;
        min-width: 250px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 4px;
    }
    button {
        border: none;
        padding: 10px;
        background-color: rgb(244, 142, 74);
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}